@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/quicksand-v20-vietnamese_latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/quicksand-v20-vietnamese_latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/quicksand-v20-vietnamese_latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/quicksand-v20-vietnamese_latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/quicksand-v20-vietnamese_latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/quicksand-v20-vietnamese_latin-ext_latin-700.svg#Quicksand') format('svg'); /* Legacy iOS */
}
/* quicksand-regular - vietnamese_latin-ext_latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/quicksand-v20-vietnamese_latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/quicksand-v20-vietnamese_latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/quicksand-v20-vietnamese_latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/quicksand-v20-vietnamese_latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/quicksand-v20-vietnamese_latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/quicksand-v20-vietnamese_latin-ext_latin-regular.svg#Quicksand') format('svg'); /* Legacy iOS */
}
/* quicksand-500 - vietnamese_latin-ext_latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/quicksand-v20-vietnamese_latin-ext_latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/quicksand-v20-vietnamese_latin-ext_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/quicksand-v20-vietnamese_latin-ext_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/quicksand-v20-vietnamese_latin-ext_latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/quicksand-v20-vietnamese_latin-ext_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/quicksand-v20-vietnamese_latin-ext_latin-500.svg#Quicksand') format('svg'); /* Legacy iOS */
}
:root {
--color-white: #fff;
  --color-black: #191919;
  --color-gray: #505050;
  --color-dark-gray: #323232;
  --color-dark-red: #5d0914;
  --color-gray-dk: #1a1a1a;
  --color-gray-lt: #6e6e6e;
  --color-gray-hlt: #e6e6e6;
  --color-gray-p: #f6f6f6;
  --color-green: #51c300;
  --color-red: #dc0914;
  --color-menu: #b00914;
  --color-yellow: #ffd600;
  --color-small-impact: #bebebe;
  --color-base: var(--color-white);
  --color-link: var(--color-green);
  --color-link-visited: none;
  --color-link-hover: none;
  --color-link-active: none;
  --color-success: none;
  --color-danger: none;
  --color-warning: var(--color-red);
  --color-info: var(--color-gray);
  --color-primary: var(--color-green);
  --color-secondary: none;
  --color-accent: none;
  --color-selected: var(--color-gray-p);
  --color-modal: rgba(0,0,0,0.3);
  --hover-opacity: 0.8;
  --already-read-opacity: 0.5;
  --color-text: var(--color-black);
  --color-text-outlined: var(--color-white);
  --color-tip: var(--color-gray-dk);
  --color-line: var(--color-gray-lt);
  --color-info-layer1: var(--color-gray-p);
  --color-info-layer2: var(--color-white);
  --color-header: var(--color-black);
  --color-card: var(--color-white);
  --color-card-header: var(--color-black);
  --font-size-xxs: none;
  --font-size-xs: 0.6rem;
  --font-size-s: 0.8rem;
  --font-size-m: 1rem;
  --font-size-l: 1.2rem;
  --font-size-xl: 1.4rem;
  --font-size-xxl: 1.6rem;
  --font-size-xxxl: 1.8rem;
  --font-size-xxxxl: 2rem;
  --font-weight-default: 400;
  --font-weight-bold: 700;
  --space: 0.5rem;
  --line-width: 1px;
  --line-style: solid;
  --radius: 2px;
  --border: var(--line-width) var(--line-style) var(--color-line);
  --icon-size: 6px;
  --hover-feedback-opacity: 0.7;
  --hover-animation-duration: 0.1s;
  --hover-animation-timing: ease-out;
  --hover-animation: var(--hover-animation-duration) var(--hover-animation-timing);
  --fade-animation-duration: 0.2s;
  --fade-animation-timing: linear;
  --fade-animation: var(--fade-animation-duration) var(--fade-animation-timing);
  --z-modal: 100;
}